*{
    margin: 0px;
    padding: 0px;
}
body{
    background:#f5f5f5;
}
 /* navbar code  */
.first_nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
    padding: 20px 12pc;
}
.first_nav_bar > ul > li{
    list-style: none;
    font-weight: bold;
}
.first_nav_bar > ul > li > a{
    text-decoration: none;
    color: gray;
}
.first_nav_bar > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.btn{
    padding: 18px 45px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 17px;
    color: white;
    background-color: #1D4ED8;
    cursor: pointer;
}

    /* Hero area code  */

    .hero_area{   
    height: 75vh;
    padding-top: 145px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0) ) ,url('./image/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    } 
.hero_area{
    text-align: center;
    font-family: Poppins, sans-serif;
}
.hero_area h1{
    font-size: 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
.hero_area p{
    margin-top: 35px;
    font-size: 23px;
    line-height: 35px;
    color: #ffffffbe;
}
.hero_area .btn-2{
    margin-top: 16pc;
    padding: 20px 65px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 27px;
    color: white;
    background-color: #1d4fd8;
    cursor: pointer;
}

/* header code end */
/* main area coder start here  */
/* section_1 code  */
.section_1_parent > h2{
    text-align: center;
    margin: 100px 0px;
    font-size: 50px;
}
.box_model_parent{
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(2,0.1fr);



}
.box_model{
    background-color:#E5E7EB;
    height: 460px;
    width: 640px;
    border: 1px solid rgba(128, 128, 128, 0.233);
    border-radius: 10px;
    /* text-align: center; */
    margin: 50px 50px;
    object-fit: cover;
}
.image_box img{
    width: 100%;
    height: 324px;
    border-radius: 10px 10px 0 0;
}
.house{
    margin-top: 20px;
    margin-left: 25px;
}
.house h3{
    margin: 10px 0px;
    font-size: 23px;
 }
 .house p{
    color: grey;
 }
.house a{
    text-decoration: none;
    color: #1D4ED8;
}


.flex_box_parent{
    display: flex;
    justify-content: center;
    gap: 100px;
}
    
/* section_2 code  */

.small{
    text-align: center;
    margin-top: 150px;
}
.small h2{
    font-size: 50px;
}
.small P{
    margin-top: 20px;
    font-size: 18px;
    color: gray;
}


.flex_box_parent {
    margin:80px 0px; 
}

.flex_box{
    background-color: #ffffff;
    width: 250px;
    height: 380px;
    padding:30px 50px;
    border: 1px solid rgba(128, 128, 128, 0.342);
    border-radius: 10px;
}
.flex_boxi{
    background-color: #0D1B2A;
    width: 250px;
    height: 380px;
    padding:30px 50px;
    border: 1px solid rgba(128, 128, 128, 0.342);
    border-radius: 10px;
}
.flex_box .btn_sec {
    margin: 20px -20px;
    width: 270px;
    height: 40px;
    font-weight: bold;
    border: 2px solid gray;
    border-radius: 8px;
    color: black;
    background-color: white;
} 
.btn_sec_child{
     margin: 20px -20px;
    width: 270px;
    height: 40px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #1d4fd8;

}

.extra-div{
padding: 15px 0px;
}
.child_div{
    /* margin-top: 50px; */
    border-top: 1px solid gray;
    padding-top: 30px;
}
.child_divi{
    border-top: 1px solid gray;
    padding-top: 30px;
}
.extra-div h2{
    padding: 8px 0px;
    font-size: 40px;
}
.extra-div p{
    color: gray;
}
.extra-div_1{
    padding: 15px 0px;
    
}
.extra-div_1 h2{
    padding: 8px 0px;
    font-size: 40px;
    color:white;
}
.extra-div_1 p{
    color: gray;
}

.child_div li{
    line-height: 25px;
}
.child_divi{
     line-height: 25px;
     color: #ffffffb6;
}
/* 2nd section code end  */
/* 3rd section code start here  */
.schedule {
    width: 80%;
    margin: 80px auto;
    text-align: center;
}

.schedule h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.schedule p {
    color: gray;
    margin-bottom: 40px;
}

.schedule-box {
    max-width: 700px;
    margin: auto;
}

.schedule-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 25px;
    margin-bottom: 15px;
    background: #f8f9fc;
    border-radius: 10px;
    border-left: 5px solid #2563eb;
    border-right: 5px solid #2563eb;
}

.time {
    font-weight: bold;
    color: #2563eb;
}

.event {
    font-weight: 500;
}
    /* 3rd section code end */
    /* Footer code start here */

.footer{
    color: rgba(255, 255, 255, 0.527);
    display: flex;
    justify-content: space-between;
    padding: 100px 120px;
    background-color: #0D1B2A;
}
.child_footer_one{
    margin-top: 4pc;
}
.icon {
    font-size: 30px;
    margin-top: 20px;
    display: flex;
    /* padding: 210px 0px; */
}
.icon p{
    font-size: 15px;
    margin: 15px 0px;
}
.name{
    display: flex;
    gap: 30px;
    margin-top: 5px;    
}
.icob{
    font-size: 25px;
    margin-left: 10px;
    margin-top: 35px;
    display: flex;
    gap: 50px;
}
.icob a{
    color: #ffffff;
}





